.keyboard-button-wrapper {
    width: calc(100% / 7);
    display: flex;
    justify-content: center;
    align-items: center;
}

.keyboard-button {
    background-color: transparent;
    border-radius: 8px;
    border: 3px solid $gray;
    width: 40px;
    height: 40px;
    color: $white;
    cursor: pointer;
    outline: none;
    transition: border-color 0.3s ease, color 0.3s ease, background-color 0.3s ease;

    &:hover {
        border-color: $white;
    }

    &:disabled {
        cursor: not-allowed;
    }

    &.has-match {
        background-color: $green-dark;
        color: $green-light;
        border-color: $green-light;
    }

    &.has-no-match {
        background-color: $red-dark;
        color: $red-light;
        border-color: $red-light;
    }
}

